@import './partes/normalize';
@import './partes/header';
@import './partes/tarjetas';
@import './partes/textos';


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 auto;
    width: 800px;
    
    background: coral;
}